# systemd socket unit for pgagroal
#
# See pgagroal.service for more information.
#
[Unit]
Description=Sockets for pgagroal

[Socket]
ListenStream=/tmp/.s.pgagroal
#ListenStream=2345

[Install]
WantedBy=sockets.target
